<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server Side Events Example</title>
</head>
<body>
  <h1>Server Side Events Example</h1>
  <div id="counter"></div>

  <script>
    var eventSource = new EventSource("/stream")

    eventSource.addEventListener("message", function(response) {
      // console.log(response.data)
      document.querySelector("#counter").innerText = response.data
    }, false)

    eventSource.addEventListener("online", function(e) {
      // console.log(e.data.color)
      data = JSON.parse(e.data)
      document.querySelector("#counter").innerText = data.counter
      document.querySelector("body").style.backgroundColor= data.color
    }, true)

  </script>

</body>
</html>